body {
  padding: 20px;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  width: 98vw;
  padding: 20px 0px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(outerSpaceBackground.png);
  background-size: cover;
  /* animation: slide 5s linear infinite; */
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
  color: #f2f2f2;
  padding: 2%
}

.game-intro {
  font-family: "industry-inc-base", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f2f2f2;
}

.logo-img {
  width: 350px;
  padding: 20px;
}

.arrows-img {
  width: 350px;
}

body button {
  font-family: "industry-inc-base", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  background-color: #f2f2f2;
  color: #c7452f;
  padding: 20px 50px 5px;
  border: 0;
  box-shadow: 0;
  border-radius: 50px;
}

#stats-container {
  margin-right: 2%;
  padding: 15px;
  align-items: center;
  background-color: #f2f2f250;
  border-radius: 50px;
}

#clock-container {
  /* margin-top: 2%; */
  margin-left: 2%;
  padding: 15px;
  align-items: center;
  background-color: #f2f2f250;
  border-radius: 50px;
}

main {
  font-family: "industry-inc-base", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-image: url(gradientBackgroundSpaceWars.jpg);
  background-size: cover;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 30px;
  color: #16071f;
}

h2 {
  font-size: 40px;
  color: #f2f2f2
}
#end-message {
  padding: 10px;
}